@mixin spacing {
   padding-top: 100px;
   padding-bottom: 100px;
   @media screen and (max-width: $large) {
      padding-top: 50px;
      padding-bottom: 50px;
   
  }

   @media screen and (max-width: $small) {
      padding-top: 40px;
      padding-bottom: 40px;
   
  }
  }
  

  